.painel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4682B4;
    margin: 0 auto;
    font-size: 2.5em;
}

.item-painel {
    display: flex;
    width: 400px;
    height: 300px;
    letter-spacing: 2px;
    text-align: center;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.item-painel p {
    color: white;
}

.wrap{
    flex-wrap: wrap;
}

.img {
    width: 200px;
    height: 200px;
    background-color: #4682B4;
}